
#{extends 'admin.html' /}
	<head>

		<link rel="stylesheet" href="@{'public/stylesheets/jquery-ui.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
		<!-- end: CORE CSS -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: SLIDING BAR (SB) -->
	
		<!-- end: SLIDING BAR -->
		 <div class="box">
           		 <div class="box-header with-border">
              <h3 class="box-title">Decoration d'un agent</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> 
            
            </div>
          </div>
          <div class="row">
          	<div class="col-sm-12">
			<!-- start: FORM WIZARD PANEL -->
			<div class="panel panel-white">
			<div class="panel-body">
          #{form @agentdecoSave(), role :'form', id :"form"}
    #{if object}
        <input type="hidden" name="agent.id" value="${agent?.id}" />
        <input type="hidden" name="object.id" value="${object?.id}" />
    #{/if}

    <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Matricule:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="matricule" value="${agent?.matricule}" name="agent_matri" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Nom:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="nom" value="${agent?.nom}" name="agent_nom" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Pr&eacute;nom</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="prenom" value="${agent?.prenom}" name="agent_prenom" disabled>
               </div>
         </div>
         </div>
    </div>
    </div><br>
     <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Classe:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="classe" value="${agent?.libelle_classe}" name="agent_classe" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Grade:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="grade" value="${agent?.libelle_grade}" name="agent_grade" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Echelon</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="echelon" value="${agent?.libelle_echelon}" name="agent_echelon" disabled>
               </div>
         </div>
         </div>
    </div>
    </div><br>
         <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">N&eacute;(e)le:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="classe" name="agent_dte_naiss"   value="${agent?.date_naissance?.format("dd/MM/yyyy")}" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">A:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="lieuN" name="agent_lieuN" value="${agent?.lieu_naissance}" disabled>
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Poste:</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="echelon" name="agent_poste" value="${agent?.libelle_poste}" disabled >
               </div>
         </div>
         </div>
    </div>
    </div>
    
    <br><br>
    <fieldset>
 <legend>Informations  sur la decoration</legend>
   <div class="row">
    <div class="col-lg-12">
     	 <div class="col-lg-6">
       <label class="control-label col-sm-2" ></label>
       <div class="col-sm-10">
             #{field 'decoId'}
			     #{form.select field : field, items : alldecorations, valueProperty : 'id', labelProperty : 'libelle_decoration' , required : false, value : agentDecore?.decoration?.id ? agentDecore?.decoration?.id : 0, label : 'Decoration' /}
			 #{/field}
       </div>
         </div>
        <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label col-sm-2" ></label>
               <div class="col-sm-10">
                  <div class="form-group">
                              <label for="numero">Lieu</label>
                             <input type="text" class="form-control" name="agent_lieuDeco" value="${object?.lieu_decoration}" >
                            </div>
               </div>
            </div>
         </div>
    </div>
    </div>
    <br>
     <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-6">
           <div class="form-group">
                                 <label class="control-label col-sm-2" for="nom"></label>
                                  <div class="col-sm-10">
                                     <div class="form-group">
                                       <label for="pwd">Date de la decoration</label>
                                        <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="agent_dte_dco" value="${object?.date_decoration}">
                                    </div>
                                  </div>
                               </div>
         </div>
        
         <div class="col-lg-6">
          <div class="form-group">
                                 <label class="control-label col-sm-2" for="nom"></label>
                                  <div class="col-sm-10">
                                      <div class="form-group">
                                       <label for="pwd">Par</label>
                                        <input  type="text" class="form-control " name="agent_deco_par" value="${object?.decorateur}">
                                    </div>
                                  </div>
                               </div>
         </div>
    </div>
    </div>
    <br>
     <div class="row">
   
         <div class="col-lg-12">
          <label class="control-label col-sm-2" ></label>
       <div class="col-sm-8">
                  
                  #{field 'object.motif_decoration'}
			                #{form.textarea field : field, value : object?.motif_decoration, required : true,  label : 'Motif de la decoration'/}
			            #{/field}
         </div>
         
         <label class="control-label col-sm-2" ></label>
         </div>
    
    </div>

    
         </fieldset>
         <br/>
         <div class="row">
           <div class="col-lg-12">
             <div class="col-lg-8"></div>
             <div class="col-lg-4">
             <label class="control-label col-sm-6" ></label>
             <div class="col-sm-6">
               <button class="btn btn-blue" type="submit">
                          Valider
               </button>
               </div>
             </div>
           </div>
         </div>
  <input type="hidden" class="form-control" id="matricule" value="${agent?.matricule}" name="agent_matri" >
  <input type="hidden" class="form-control" id="nom" value="${agent?.nom}" name="agent_nom"> 
  <input type="hidden" class="form-control" id="prenom" value="${agent?.prenom}" name="agent_prenom" > 
    
#{/form}
          
          </div>
</div>
</div>
</div>
			
			<!-- *** READ NOTE *** -->
			<div id="readNote">
			  <div class="e-slider owl-carousel owl-theme">
				 <div class="item"></div>
			  </div>
			</div>
	
	<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="@{'public/wizard/plugins/respond.min.js'}"></script>
		<script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
		<script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="@{'public/wizard/plugins/jQuery/jquery-2.1.1.min.js'}"></script>
		<!--<![endif]-->
		<script src="@{'public/wizard/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'}"></script>
		<script src="@{'public/wizard/plugins/bootstrap/js/bootstrap.min.js'}"></script>
	
		<!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<script src="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.carousel.js'}"></script>
		<script src="@{'public/wizard/plugins/jquery-mockjax/jquery.mockjax.js'}"></script>

		<script src="@{'public/wizard/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
	<script src="@{'public/javascripts/jquery.ui.datepicker.js'}"></script>	
		<script src="@{'public/wizard/js/subview.js'}"></script>
		<script src="@{'public/wizard/js/subview-examples.js'}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="@{'public/wizard/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js'}"></script>
		<script src="@{'public/wizard/js/form-wizard.js'}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CORE JAVASCRIPTS  -->
		<script src="@{'public/wizard/js/main.js'}"></script>



		<!-- end: CORE JAVASCRIPTS  -->
			   <script src="@{'public/dist/js/app.min.js'}"></script>
		<script>
			jQuery(document).ready(function() {
				Main.init();
				SVExamples.init();
				FormWizard.init();
			});
		</script>
		<script>
	$(function() {
		$( ".datepickers" ).datepicker( $.datepicker.regional[ "fr" ] );
		
	});
	</script>
#{set 'moreScripts'}

#{/set}
	</body>

