
#{extends 'admin.html' /}
#{set title: 'Details decoration' /}
#{set 'subTitle'}
    ${object.libelle_decoration}
#{/set}
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}
<div class="row">
    <div class="col-lg-12">
       
        <section class="content">
         <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Detail sur la decore</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> -
                   <a href="@{edit()}" >Nouveau decoration</a>
             
            </div>
            <div class="box-body">
               &{'object.id'} :   ${object.id} 
            </div><!-- /.box-body -->
            <div class="box-body">
               Décoration :  ${object.libelle_decoration}
            </div>
            
              <div class="box-body">
            		Decore : ${object.nom_agent}  ${object.prenom_agent} </div>
            		
            		<div class="box-body">
            		Decorant : ${object.decorateur} </div>
			  
			    <div class="box-body">
			       Motif  : ${object.motif_decoration} 
			      </div> 
			        <div class="box-body">
            	 Date de la decoration:   ${object.date_decoration?.format("dd/MM/yyyy")}
            	</div>
			
			  <div class="box-body">
            	Lieu:   ${object.lieu_decoration}
            	</div>
             <div class="box-body">
                &{'object.created'} :   ${object.created?.format("dd/MM/yyyy")}
            </div>
             <div class="box-body">
               &{'object.updated'} : &{object.updated?.format("dd/MM/yyyy")}
            </div>
            <div class="box-footer">
               #{manager.object.editButton id : object.id /}
       		  #{manager.object.deleteButton id : object.id /}
            </div><!-- /.box-footer-->
          </div>
        </section>
        
   
       
    </div>
</div>