#{extends 'admin.html' /}
  <head>
    <link rel="stylesheet" href="@{'public/stylesheets/jquery-ui.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
    <link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
    <link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
    <!-- end: CORE CSS -->
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <!-- end: HEAD -->
  <!-- start: BODY -->
  <body>
    <!-- start: SLIDING BAR (SB) -->
  
    <!-- end: SLIDING BAR -->
     <div class="box">
               <div class="box-header with-border">
              <h3 class="box-title">Enregistrement d'un formateur</h3> -  
                   <a href="@{list()}" >Retour a la liste</a> 
            
            </div>
            </div>
    
            <div class="row">
              <div class="col-sm-12">
                <!-- start: FORM WIZARD PANEL -->
                <div class="panel panel-white">
                <div class="panel-body">
#{form @update(), role :'form', id :"form" ,enctype:'multipart/form-data'}
    #{if object}  
        <input type="hidden" name="agent.id" value="${agent?.id}" />
        <input type="hidden" name="object.id" value="${object?.id}" />
    #{/if}    
<br/>
    <div class="row">
    <div class="col-lg-12">     
           <div class="col-lg-6">
          <div class="form-group">
               <label class="control-label col-sm-2" for="nom"></label>
                <div class="col-sm-10">
                    <div class="form-group">
                     <label for="pwd">Formateur</label>
                      <input  type="text" class="form-control " name="object.formateur_nom" value="${object?.formateur_nom}">
                  </div>
                </div>
             </div>
         </div>
         <div class="col-lg-6">
          <div class="form-group">
               <label class="control-label col-sm-2" for="nom"></label>
                <div class="col-sm-10">
                    <div class="form-group">
                     <label for="pwd">Adresse</label>
                      <input  type="text" class="form-control " name="object.adresse" value="${object?.adresse}">
                  </div>
                </div>
             </div>
         </div>
    </div>  
    </div>
     <div class="row">
    <div class="col-lg-12">
          <div class="col-lg-6">
           <div class="form-group">
             <label class="control-label col-sm-2" for="nom"></label>
              <div class="col-sm-10">
                 <div class="form-group">
                   <label for="pwd">Téléphone</label>
                    <input  type="text" class="form-control" name="object.telephone" value="${object?.telephone}" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                </div>
              </div>
           </div>
         </div>
         <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label col-sm-2" ></label>
               <div class="col-sm-10">
                  <div class="form-group">
                    <label for="numero">Email</label>
                   <input type="email" class="form-control" name="object.email" value="${object?.email}" >
                  </div>
               </div>
            </div>
         </div>
          
    </div>
    </div>
         <div class="row">
    <div class="col-lg-12">
    <div class="col-lg-6">
            <div class="form-group">
              <label class="control-label col-sm-2" ></label>
               <div class="col-sm-10">
                  <div class="form-group">
                      <label for="numero">Localisation</label>
                     <input type="text" class="form-control" name="object.localite" value="${object?.localite}" >
                    </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6">
           <div class="form-group">
           <label class="control-label col-sm-2" for="nom"></label>
            <div class="col-sm-10">
               <div class="form-group">
                 <label for="pwd">Siège</label>
                  <input type="text" class="form-control" name="object.siege" value="${object?.siege}">
              </div>
            </div>
         </div>
         </div>
         </div>
       </div>
        <div class="row">
    <div class="col-lg-12">
    <div class="col-lg-6">
    
      <div class="form-group">
        <label class="control-label col-sm-2" ></label>
         <div class="col-sm-10">
            <div class="form-group">
                <label for="numero">Site Web</label>
               <input type="text" class="form-control" name="object.site_web" value="${object?.site_web}" >
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-6">
      <div class="form-group">
        <label class="control-label col-sm-2" ></label>
         <div class="col-sm-10">
            <div class="form-group">
              <label for="numero">Charger le logo</label>
             <input type="file" class="form-control" name="object.logo" value="${object?.logo}" >
            </div>
         </div>
      </div>
   </div>

    </div>
    </div>
     <div class="row">
           <div class="col-lg-12">
             <div class="col-lg-8"></div>
             <div class="col-lg-4">
             <label class="control-label col-sm-6" ></label>
             <div class="col-sm-6">
               <button class="btn btn-blue" type="submit">
                          Ajouter
               </button>
               </div>
             </div>
           </div>
         </div>
#{/form}
</div>
</div>
</div>
</div>


        
      <!-- end: MAIN CONTAINER -->
      <!-- start: FOOTER -->
      
      <!-- end: FOOTER -->
      <!-- start: SUBVIEW SAMPLE CONTENTS -->
      <!-- *** NEW NOTE *** -->
      
      <!-- *** READ NOTE *** -->
      <div id="readNote">
        <div class="e-slider owl-carousel owl-theme">
         <div class="item"></div>
        </div>
      </div>
  <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="@{'public/wizard/plugins/respond.min.js'}"></script>
    <script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
    <script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="@{'public/wizard/plugins/jQuery/jquery-2.1.1.min.js'}"></script>
    <!--<![endif]-->
    <script src="@{'public/wizard/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'}"></script>
    <script src="@{'public/wizard/plugins/bootstrap/js/bootstrap.min.js'}"></script>
  
    <!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
    <script src="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.carousel.js'}"></script>
    <script src="@{'public/wizard/plugins/jquery-mockjax/jquery.mockjax.js'}"></script>

    <script src="@{'public/wizard/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
  <script src="@{'public/javascripts/jquery.ui.datepicker.js'}"></script> 
    <script src="@{'public/wizard/js/subview.js'}"></script>
    <script src="@{'public/wizard/js/subview-examples.js'}"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="@{'public/wizard/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js'}"></script>
    <script src="@{'public/wizard/js/form-wizard.js'}"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CORE JAVASCRIPTS  -->
    <script src="@{'public/wizard/js/main.js'}"></script>



    <!-- end: CORE JAVASCRIPTS  -->
         <script src="@{'public/dist/js/app.min.js'}"></script>
    <script>
      jQuery(document).ready(function() {
        Main.init();
        SVExamples.init();
        FormWizard.init();
      });
    </script>
    <script>
  $(function() {
    $( ".datepickers" ).datepicker( $.datepicker.regional[ "fr" ] );
    
  });
  </script>
#{set 'moreScripts'}
    <script >
$( ".debut" ).datepicker({
     changeMonth: true,
     changeYear: true,
     dateFormat: 'dd-mm-yy'
  });
</script>
#{/set}
  </body>

