#{extends 'menuConge.html' /}
#{set title: 'Planning des congés' /}
<style>
     .editor {overflow:scroll; height : 250px; max-height:250px; border : 1px solid #ccc; overflow-x : none; overflow-y: scroll; padding : 10px;} 

</style>
<!-- <link href="@{'public/css/retourConges.css'}" rel="stylesheet" type="text/css"> -->
    

     <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-3">
          <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Periode du</label>
                 <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="eDate" value="${object?.date_debut}">
             </div>
        
              </div>
             </div>
         </div>
         <div class="col-lg-3">
         <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Au</label>
                 <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="eDate" value="${object?.date_debut}">
             </div>
        
              </div>
             </div>
         </div>
           <div class="col-lg-3">
         <div class="form-group">
              #{field 'congeId'}
           #{form.select field : field, items : allconges, valueProperty : 'id', labelProperty : 'libelle_conge' , required : false, value : agentDecore?.decoration?.id ? agentDecore?.decoration?.id : 0, label : 'Type de congés' /}
       #{/field} 
         </div>
         </div>     
         <div class="col-lg-3">
          <div class="form-group">
               #{field 'statuscongeId'}
                     #{form.select field : field, items : allstatusConge, valueProperty : 'id', labelProperty : 'libelle_status' , required : false, value : object?.serie?.id ? object?.serie?.id : 0, label : 'Status des demannde' /}
                 #{/field} 
               </div>
         </div>
         
    </div>
    </div><br>
    
   <div class="row"> <div class="col-lg-12">
          <div class="col-lg-9"></div>
         <div class="col-lg-3">
              #{form.appliquerButton /}
          </div>
             
         </div>
  </div>
    <br>
    <hr />
<div class="row">
    <div class="span2"> 
        <p>
            <strong>${result?.count} r&eacute;sultat${result?.objects?.pluralize()}</strong>
        </p>
    </div>
    <div class="span10">
        <ul class="pagination paginator text-center"> </ul>
    </div>
</div>
<hr />

<table class="table table-hover table-striped table-condensed" id="testTable">
    <thead>
        <tr>
            <th> #{list.sortField sF : sF, sD : sD, field : 'id'} <a href="@{list(k, 'id', (sF == 'id' && sD == 'asc' ? 'desc' : 'asc'), 1)}">&{'object.id'}</a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'libelle_conge'} <a href="@{list(k, 'libelle_conge', (sF == 'libelle_conge' && sD == 'asc' ? 'desc' : 'asc'), 1)}"> Conge </a> #{/list.sortField} </th>

           <th> #{list.sortField sF : sF, sD : sD, field : 'motif'} <a href="@{list(k, 'motif', (sF == 'motif' && sD == 'asc' ? 'desc' : 'asc'), 1)}"> Motif </a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'date_debut'} <a href="@{list(k, 'date_debut', (sF == 'date_debut' && sD == 'asc' ? 'desc' : 'asc'), 1)}"> Date de debut </a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'date_fin'} <a href="@{list(k, 'date_fin', (sF == 'date_fin' && sD == 'asc' ? 'desc' : 'asc'), 1)}"> Date de fin </a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'created'} <a href="@{list(k, 'created', (sF == 'created' && sD == 'asc' ? 'desc' : 'asc'), 1)}">&{'object.created'}</a> #{/list.sortField} </th>

            <th> #{list.sortField sF : sF, sD : sD, field : 'updated'} <a href="@{list(k, 'updated', (sF == 'updated' && sD == 'asc' ? 'desc' : 'asc'), 1)}">&{'object.updated'}</a> #{/list.sortField} </th>

            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        #{list result?.objects}
        <tr>
            <td> ${_.id} </td>
            <td> ${_.libelle_conge} </td>
            <td> ${_.motif} </td>
            <td> ${_.date_debut} </td>
            <td> ${_.date_fin} </td>
  
            <td> #{block.time time : _.created /} </td>
            <td> #{block.time time : _.updated /} </td>
            <td class ="center"> #{manager.object.planifiercongeviewButton id : _.id /} </td>
        </tr>
        #{/list}
    </tbody>
</table>


<hr />
<div class="row">
    <div class="span2">
        <p>
            <strong>${result?.count} r&eacute;sultat${result?.objects?.pluralize()}</strong>
        </p>
    </div>
    <div class="span10">
        <ul class="pagination paginator text-center"> </ul>
    </div>
</div>
<hr />
 #{set 'moreScripts'}
<script src="/public/javascripts/jquery.hotkeys.js"></script>
<script src="/public/javascripts/bootstrap-wysiwyg.js"></script>

<script src="@{'public/plugins/jQuery/jquery-2.1.1.min.js'}"></script>
        <script src="@{'public/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'}"></script>
        <script src="@{'public/plugins/bootstrap/js/bootstrap.min.js'}"></script>
        <script src="@{'public/plugins/blockUI/jquery.blockUI.js'}"></script>
        <script src="@{'public/plugins/iCheck/jquery.icheck.min.js'}"></script>
        <script src="@{'public/plugins/moment/min/moment.min.js'}"></script>
        <script src="@{'public/plugins/perfect-scrollbar/src/jquery.mousewheel.js'}"></script>
        <script src="@{'public/plugins/perfect-scrollbar/src/perfect-scrollbar.js'}"></script>
        <script src="@{'public/plugins/bootbox/bootbox.min.js'}"></script>
        <script src="@{'public/plugins/jquery.scrollTo/jquery.scrollTo.min.js'}"></script>
        <script src="@{'public/plugins/ScrollToFixed/jquery-scrolltofixed-min.js'}"></script>
        <script src="@{'public/plugins/jquery.appear/jquery.appear.js'}"></script>
        <script src="@{'public/plugins/jquery-cookie/jquery.cookie.js'}"></script>
        <script src="@{'public/plugins/velocity/jquery.velocity.min.js'}"></script>
        <script src="@{'public/plugins/TouchSwipe/jquery.touchSwipe.min.js'}"></script>
        <!-- end: MAIN JAVASCRIPTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
        <script src="@{'public/plugins/owl-carousel/owl-carousel/owl.carousel.js'}"></script>
        <script src="@{'public/plugins/jquery-mockjax/jquery.mockjax.js'}"></script>
        <script src="@{'public/plugins/toastr/toastr.js'}"></script>
        <script src="@{'public/plugins/bootstrap-modal/js/bootstrap-modal.js'}"></script>
        <script src="@{'public/plugins/bootstrap-modal/js/bootstrap-modalmanager.js'}"></script>
        <script src="@{'public/plugins/fullcalendar/fullcalendar/fullcalendar.min.js'}"></script>
        <script src="@{'public/plugins/bootstrap-switch/dist/js/bootstrap-switch.min.js'}"></script>
        <script src="@{'public/plugins/bootstrap-select/bootstrap-select.min.js'}"></script>
        <script src="@{'public/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
        <script src="@{'public/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js'}"></script>
        <script src="@{'public/plugins/DataTables/media/js/jquery.dataTables.min.js'}"></script>
        <script src="@{'public/plugins/DataTables/media/js/DT_bootstrap.js'}"></script>
        <script src="@{'public/plugins/truncate/jquery.truncate.js'}"></script>
        <script src="@{'public/plugins/summernote/dist/summernote.min.js'}"></script>
        <script src="@{'public/plugins/bootstrap-daterangepicker/daterangepicker.js'}"></script>
        <script src="@{'public/wizard/subview.js'}"></script>
        <script src="@{'public/wizard/subview-examples.js'}"></script>
        <script src="@{'public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'}"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script src="@{'public/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js'}"></script>
        <script src="@{'public/wizard/form-wizard.js'}"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <!-- start: CORE JAVASCRIPTS  -->
        <script src="@{'public/javascripts/main.js'}"></script>
        <script src="@{'public/wizard/datepicker-fr.js'}"></script>
        <script src="/public/javascripts/jquery.hotkeys.js"></script>
        <script src="/public/javascripts/bootstrap-datetimepicker.fr.js"></script>
        <script src="/public/javascripts/bootstrap-wysiwyg.js"></script>
        <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <!-- end: CORE JAVASCRIPTS  -->
              <script>
         $(function() {
            $( "#dialog-3" ).dialog({
               autoOpen: false, 
               hide: "puff",
               show : "slide",
               height: 200      
            });
            $( "#opener-3" ).click(function() {
               $( "#dialog-3" ).dialog( "open" );
            });
         });
      </script>
        <script>
            jQuery(document).ready(function() {
                var now = new Date();
                Main.init();            
                FormWizard.init();
                 $(".form-control").change(function(){

            var veuf =$.trim("Veuf");
            var celiba = $.trim("Celibataire");
            var contenu =$.trim( $("#agent_situation_id option:selected").text());
            if(contenu == veuf || contenu == celiba)
                  {
                     $("#nomfille").attr('disabled',true);
                    console.log("oui");
                  }
                 else
                  {
                   $("#nomfille").attr('disabled',false);
                  }
                
                });
            $("input[type='radio'], input[type='checkbox']").on('ifChecked', function(event) {
              var sexe = $.trim("Masculin");
              var fonct =$.trim("Oui");
              var nfonct = $.trim("Non");
              var res =$.trim($(this).val());
              console.log(res);
              if (res == sexe ){
                $("#nomfille").attr('disabled',true);
                    console.log("oui");

              }
              else if (res == fonct){
                $("#agent_contrat_id").attr('disabled',true);
                $("#ddcont").attr('disabled',true);
                $("#dfcont").attr('disabled',true);
                $("#agentcontrat_theme").attr('disabled',true);

              } else if(res == nfonct){
                $("#agent_contrat_id").attr('disabled',false);
                $("#ddcont").attr('disabled',false);
                $("#dfcont").attr('disabled',false);
                $("#agentcontrat_theme").attr('disabled',false);

              }
            });      

            });
        </script>
<script >
$( ".datepickers" ).datepicker({
      changeMonth: true,
       changeYear: true,
      dateFormat: 'yy-mm-dd'
    });
$('#sDatePicker').datetimepicker({
            language : 'fr',
            pickTime : true,
            pickSeconds : false,
            pick12HourFormat: false,
            endDate : now
        });

 $('#eDatePicker').datetimepicker({
            language : 'fr',
            pickTime : true,
            pickSeconds : false,
            pick12HourFormat: false,
            endDate : now
        });
</script>



#{/set}
  