#{extends 'menuConge.html' /}
#{set title: 'Retour de congés' /}
<style>
     .editor {overflow:scroll; height : 250px; max-height:250px; border : 1px solid #ccc; overflow-x : none; overflow-y: scroll; padding : 10px;} 

</style>
<!-- <link href="@{'public/css/retourConges.css'}" rel="stylesheet" type="text/css"> -->
    
#{form @retourconge(), class : 'form', role : 'form'}
    #{if object}
        <input type="hidden" name="object.id" value="${object?.id}" />
    #{/if}
    <div class="row">
         <div class="col-lg-12">
            #{manager.list.filterForm k : k}
              <input type="hidden" name="sF" value="${sF}" />
              <input type="hidden" name="sD" value="${sD}" />
            #{/manager.list.filterForm}
        </div>
    </div>
    <br><br>
    <fieldset>
 <legend>information sur le cong&eacute; demand&eacute;</legend>
             <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-2" for="matricule">Cong&eacute;:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="typeConge">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Du:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="du">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Au</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="au">
               </div>
         </div>
         </div>
    </div>
    </div><br>
        <div class="row">
       <div class="col-lg-12">
           <div class="form-group">
             <textarea class="form-control" rows="3" id="motif" placeholder="Motif"></textarea>         
           </div>
       </div>
    </div>
         </fieldset>
         <fieldset>
         <legend>Veuillez cocher le status</legend>
         <div class="row">
         <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="radio-inline"><input type="radio" name="optradio">Retour</label>  
          </div>
         </div>
       <div class="col-lg-4">
         <div class="form-group">
       <label class="radio-inline"><input type="radio" name="optradio">Absent(e)</label>       
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
           <label class="radio-inline"><input type="radio" name="optradio">Retard</label>   
         </div>
         </div>
    </div>
    </div>
</fieldset>


#{/form}

