#{if type}
   #{extends 'Clients/indexClient.html' /}
#{set title:'Home' /}
#{/if}
#{else}

#{extends 'menuConge.html' /}
#{set title: 'Demande' /}
#{set 'subTitle'}
    ${object.libelle_conge}
#{/set}   
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set} 

#{/else}


<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover table-condensed table-striped">
            <tbody>
                <tr><td>&{'object.id'}</td>
                    <td>${object.id}</td>
                </tr>

                <tr><td>Congé</td>
                    <td>${object?.libelle_conge}</td>
                </tr>
         #{if type}    
                <tr><td>Nom</td>
                     <td> ${object?.nom_agent}</td>
                </tr>
                <tr>
                    <td>
                        Prénom
                    </td>
                    <td>
                        ${object?.prenom_agent}
                    </td>
                </tr>
        #{/if}
                <tr>
                    <td>
                        Libellé congé
                    </td>
                    <td>
                        ${object?.libelle_conge}
                    </td>
                </tr>
                <tr><td>Motif</td>
                     <td> ${object?.motif}</td>
                </tr>
                <tr>
                    <td>
                        Csu
                    </td>
                    <td>
                        ${object?.libelle_csu}
                    </td>
                </tr><tr>
                    <td>
                        Poste
                    </td>
                    <td>
                        ${object?.libelle_poste_agent}
                    </td>
                </tr>
                <tr>
                    <td>
                        Sous direction
                    </td>
                    <td>
                        ${object?.libelle_sous_direction}
                    </td>
                </tr>
               
                
                 <tr>
                    <td>
                        &{'object.created'}
                    </td>
                    <td>
                        ${object.created}
                    </td>
                </tr>
              
              <tr>
                    <td>
                        &{'object.updated'}
                    </td>
                    <td>
                        ${object.updated}
                    </td>
                </tr>
                <tr>
                    <td>
                        &{'object.dependent_objects'}
                    </td>
                    <td>
                        <ul>
                            <li>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="clearfix">
    <div class="pull-right">
        #{manager.object.editButton id : object.id /}
        #{manager.object.deleteButton id : object.id /}
     
    </div>
</div>
        <!-- <div class="clearfix">
            <div class="pull-right">
                #{manager.object.editButton id : object.id /}
            </div>
        </div> -->
    </div>
</div>