
    
#{extends 'admin.html' /}
	<head>

		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,200,100,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="@{'public/wizard/plugins/bootstrap/css/bootstrap.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/font-awesome/css/font-awesome.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/iCheck/skins/all.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/perfect-scrollbar/src/perfect-scrollbar.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/animate.css/animate.min.css'}">
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR SUBVIEW CONTENTS -->
		<link rel="stylesheet" href="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.carousel.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.theme.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.transitions.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/summernote/dist/summernote.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/fullcalendar/fullcalendar/fullcalendar.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/toastr/toastr.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/bootstrap-select/bootstrap-select.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/DataTables/media/css/DT_bootstrap.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css'}">
		<link rel="stylesheet" href="@{'public/wizard/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css'}">
		<!-- end: CSS REQUIRED FOR THIS SUBVIEW CONTENTS-->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CORE CSS -->
		<link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
		<!-- end: CORE CSS -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: SLIDING BAR (SB) -->
	
		<!-- end: SLIDING BAR -->
		 <div class="box">
           		 <div class="box-header with-border">
              <h3 class="box-title">Details de la demande</h3> -  
                   <a href="@{planningConges()}" >Retour a la liste</a> 
            
            </div>
          </div>
          <div class="row">
          	<div class="col-sm-12">
			<!-- start: FORM WIZARD PANEL -->
			<div class="panel panel-white">
			<div class="panel-body">
     <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Type  de congés</label>
                 <input  type="text" class="form-control " name="eDate" value="${object?.libelle_conge}">
             </div>
        
              </div>
             </div>
         </div>
         <div class="col-lg-8">
         <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Description</label>
                 <input  type="text" class="form-control " name="eDate" value="${object?.motif}">
             </div>
        
              </div>
             </div>
         </div>

    </div>
    </div>
    <fieldset>
 <legend>Periode</legend>
  <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-2" for="du">Du:</label>
               <div class="col-sm-8">
                  <input type="text" class="form-control" id="du" value="${object?.date_debut?.format("dd/MM/yyyy")}">
               </div>
               <label class="control-label col-sm-2" for="au"></label>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="au">Au:</label>
               <div class="col-sm-8">
                  <input type="text" class="form-control" id="au" value="${object?.date_fin?.format("dd/MM/yyyy")}">
               </div>
               <label class="control-label col-sm-2" for="au"></label>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="duree">Dur&eacute;e</label>
               <div class="col-sm-8">
                  <input type="email" class="form-control" id="duree">
               </div>
                <label class="control-label col-sm-2" for="duree">Mois</label>
         </div>
         </div>
    </div>
    </div>
 </fieldset>
  <fieldset>
 <legend>information sur l'agent</legend>
    <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">Matricule:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="matricule" value="${agent?.matricule}">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Nom:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="nom" value="${agent?.nom}">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Pr&eacute;nom</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="prenom" value="${agent?.prenom}">
               </div>
         </div>
         </div>
    </div>
    </div><br>
     <div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-3" for="matricule">S.Direction:</label>
               <div class="col-sm-9">
                  <input type="text" class="form-control" id="classe" value="${agent?.libelle_sous_dir_courant}">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="nom">Poste:</label>
               <div class="col-sm-10">
                  <input type="text" class="form-control" id="grade" value="${agent?.libelle_poste}">
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
              <label class="control-label col-sm-2" for="prenom">Statut</label>
               <div class="col-sm-10">
                  <input type="email" class="form-control" id="echelon">
               </div>
         </div>
         </div>
    </div>
    </div><br>
     <div class="row">
       <div class="col-lg-12">
           <div class="form-group">
             <textarea class="form-control" rows="3" id="motif" placeholder="Motif"></textarea>         
           </div>
       </div>
    </div>
    </fieldset>
    <div class="row">
 <fieldset>
 <legend>Liste des pieces justificatives</legend>
<table class="table table-hover table-striped table-condensed" id="testTable">
    <thead>
        <tr>
            <th>id  </th>
            <th> Numero de la piece </th>
            <th>libelle de la piece  </th>
            <th>Delivrée le </th>
            <th> Delivrée à</th>
            <th> Valide jusqu'au </th>
            <th> delivrée par </th>
            <th>&nbsp;</th>
        </tr> 
    </thead>
    <tbody>
        #{list items :piecesAgent, as:'_'}
         <tr>
                <td> ${_.id}   </td>
                <td> ${_.numero_piece}   </td>
                <td> ${_.libelle_piece}   </td>
                <td> ${_.date_delivrance}   </td>
                <td> ${_.lieu_delivrance}   </td>
                <td> ${_.date_fin_validite}   </td>
                <td> ${_.auteur}   </td>
                <td> #{manager.object.dtailpieceviewButton id :_.id /}  </td>

           
           </tr>
        #{/list}
    </tbody>
</table>  
 </fieldset>
 </div><br><br>
 
      <div class="row">
    <div class="col-lg-12">
    #{form @refuserconge() ,class: 'form'}
    #{if object}
        <input type="hidden" name="agent.id" value="${agent?.id}" />
        <input type="hidden" name="idobject" value="${object?.id}" />
    #{/if} 
      <div class="col-lg-4">
         <div class="form-group">
            <div class="col-sm-2">
                  #{form.refuserButton /}
            </div>
          <label class="control-label col-sm-10" for="prenom"></label>
         </div>
      </div>
      #{/form}

      #{form @retourdeconge(),class: 'form'}
      #{if object}
        <input type="hidden" name="idobject" value="${object?.id}" />
      #{/if} 
    <div class="col-lg-4">
        <div class="form-group">
          <label class="control-label col-sm-8" for="prenom"></label>
          <div class="col-sm-4">
                  #{form.retourcongeButton /}
          </div>
        </div>
      </div>
      #{/form}
      #{form @accepterconge(),class: 'form'}
      #{if object}
        <input type="hidden" name="agent.id" value="${agent?.id}" />
        <input type="hidden" name="idobject" value="${object?.id}" />
    #{/if} 
      <div class="col-lg-4">
        <div class="form-group">
          <label class="control-label col-sm-8" for="prenom"></label>
          <div class="col-sm-4">
                  #{form.accepterButton /}
          </div>
        </div>
      </div>
      #{/form}
    </div>
         
    </div>
    
    
			</div>
			</div>
			</div>
</div>

	</body>

    
 