        
#{extends 'admin.html' /}
#{set title: 'Classe' /}

        <section class="content-header">
          <h1>
          #{if object}
			    Modification de :<small>${object?.libelle_classe}</small>
			#{/if}
			#{else}
				  Affectation d agent a la ressource : ${mission?.libelle_mission}
			   
			#{/else}
	      </h1>
         
	    #{manager.menu.actions/}
	   
        </section>

        <!-- Main content -->
        <section class="content">
       
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
          <div class="box-body">
				 	 <div class="row">
		  #{form @updateresource(), class : 'form', role : 'form'}
		    #{if ressource}
		        <input type="hidden" name="object.id" value="${object?.id}" />
		        <input type="hidden" class="form-control" value="${ressource?.id}" name="ressource">
   				 <input type="hidden" class="form-control" value="${mission?.id}" name="mission">
		    #{/if}
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Information sur la ressource </h3>
                </div><!-- /.box-header -->
                <!-- form start -->
              
                  <div class="box-body">
                  
                  <div class="row">
        <div class="col-lg-4">
            #{field 'ressource.reference'}
                #{form.input field : field, value : ressource?.reference, required : true,  label : 'Reference',disabled :true/}
            #{/field}
        </div>
    </div> 
     <div class="row">
        <div class="col-lg-4">
            #{field 'ressource.libelle_ressource'}
                #{form.input field : field, value : ressource?.libelle_ressource, required : true,  label : 'Nom',disabled :true /}
            #{/field}
        </div>
    </div> 
  
	   <div class="row">
	    <div class="col-lg-8">
			#{field 'ressource.description'}
			     #{form.textarea field : field, value : ressource?.description, required : true,  label : 'Description',disabled :true /}
			#{/field}
	    </div>
		</div>
              <div class="row">
           		 <button type="submit" class="btn btn-primary">Ajouter</button>
           	 </div>

                  </div>
               #{/form}
              </div><!-- /.box -->
			 </div>
          </div>
              </div><!-- /.box -->
			 </div>
          </div> 
          </div> <!-- /.row -->
      
        </section>
        <!-- /.content -->
  