#{extends 'admin.html' /}
#{set title: 'Mission' /}
#{set 'subTitle'}
    ${object.libelle_mission}
#{/set}
#{set 'actionMenu'}
    #{manager.menu.actions/}
#{/set}
 <div class="box-header">
                  <h3 class="box-title"> LES DETAILS</h3>  -  
                   <a href="@{liste()}" >Retour à la liste</a> 
                  
 </div>

<div class="row">
   <div class="col-lg-12">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">DETAIL DE LA MISSION</div>
  <div class="panel-body">
<table class="table ">
            <tbody>
                <tr>
                    <td>
                        Numéro
                    </td>
                    <td>
                        ${object.id}
                    </td>
                </tr>

                <tr>
                    <td>
                        Nom
                    </td>
                    <td>
                        ${object.libelle_mission}
                    </td>
                </tr>
                 <tr>
                    <td>
                      Lieu
                    </td>
                    <td>
                        ${object.lieu_mission}
                    </td>
                </tr>
                  <tr>
                    <td>
                      Objet
                    </td>
                    <td>
                        ${object.objet_mission}
                    </td>
                </tr>
                 <tr>
                    <td>
                      Date de depart
                    </td>
                    <td>
                        ${object.date_de_depart}
                    </td>
                </tr>
                 <tr>
                    <td>
                      Date de retour
                    </td>
                    <td>
                        ${object.date_de_retour}
                    </td>
                </tr>
                <tr>
                    <td>
                    Responsable
                    </td>
                    <td>
                        ${agent?.nom}  ${agent?.prenom} 
                    </td>
                </tr>
                
                 <tr>
                    <td>
                        Enregistrée le
                    </td>
                    <td>
                        ${object.created}
                    </td>
                </tr>
              
              <tr>
                    <td>
                        Modifiée le
                    </td>
                    <td>
                        ${object.updated}
                    </td>
                </tr>
                <tr>
                    <td>
                        &{'object.dependent_objects'}
                    </td>
                    <td>
                        <ul>
                            <li>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

  </div>


 
  
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-12">
    liste des ressources
       
        <table class="table table-hover table-striped table-condensed" id="testTable">  
			    <tbody>
			        #{list items :mesressources, as:'mesressource'}
			        <tr>
			              <td> ${mesressource.libelle_ressource} ${mesressource.description} </td>
			        
			        </tr>
			        #{/list}
			    </tbody>
		</table>
  
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
    liste des agent
       
        <table class="table table-hover table-striped table-condensed" id="testTable">  
			    <tbody>
			        #{list items :agents, as:'agent'}
			        <tr>
			              <td> ${agent.id} - ${agent.nom}  ${agent.prenom} </td>
			        
			        </tr>
			        <tr>
			           
			        </tr>
			        #{/list}
			    </tbody>
		</table>
  
    </div>
</div>