#{form @edits(), class : 'form'}
 <div class="row">
   	 <div class="col-lg-8">
		<div class="form-group">
		    <input type="text" class="form-control"  placeholder="${(_placeholder ? _placeholder : 'Matricule').raw()}" name="k" value="${_k}" />
		</div>
	</div>
	<div class="col-lg-4">
		<div class="form-group">
    <button type="submit" class="btn btn-primary" title="&{'recherche'}">
        <i class="fa fa-search"> </i> Rechercher
    </button><a href="@{edits()}">  </a>
</div>
	</div>
</div>

#{/form}