body {
    background-color: #1bbc9b!important;
}

.login-box-body, .register-box-body {
    background: #eeeff3 none repeat scroll 0 0!important;
    border-radius: 4px;
    color: #f30!important;
}

.login-logo, .register-logo {
    font-size: 32px!important;
}

.login-logo a, .register-logo a {
    color: #fff!important;
}

.btn-primary {
    background-color: #1bbc9b!important;
    border-color: #1bbc9b!important;
}

.btn {
    background-color: #1bbc9b!important;
    color: #fff!important;
}

.btn:hover {
    color: #fff!important;
}

.login-box-body a {
    color: #f30!important;
}

.login-box-body .form-control-feedback {
    color: #1bbc9b!important;
}

.skin-blue .main-header .navbar {
  background-color: #1bbc9b!important;
}

.skin-blue .main-header .logo {
    background-color: #1bbc9b!important;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #f30!important;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #1bbc9b!important;
}

.skin-blue .sidebar-form {
    border: 0px solid #374850!important;
}

.skin-blue .sidebar-menu > li.header {
    background: #eeeeee none repeat scroll 0 0!important;
    color: #f30!important;
}

.skin-blue .sidebar a {
    color: #fff!important;
}

.skin-blue .sidebar-menu > li:hover > a {
    background: #eeeeee none repeat scroll 0 0!important;
    border-left-color: #f30!important;
    color: #f30!important;
}

.skin-blue .sidebar-menu > li.active > a {
    background: #3c8dbc none repeat scroll 0 0!important;
  border-left-color: #f30!important;
  color: #fff!important;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    background: #1bbc9b none repeat scroll 0 0!important;
}

.content-header > h1 {
    color: #f30!important;
}

.box.box-primary {
    border-top-color: #1bbc9b!important;
}

label {
    color: #1bbc9b!important;
}

.box-header {
    color: #f30!important;
}

.skin-blue .main-header li.user-header {
    background-color: #1bbc9b!important;
}

th {
    color: #3c8dbc!important;
    text-align: center!important;
}

.box {
    border-top: 3px solid #1bbc9b!important;
}

strong {
    color: #1bbc9b!important;
}

.form-control {
    color: #f30!important;
}

.dropdown-menu > li > a {
    color: #fff!important;
}

.dropdown-menu > li > a:hover {
    color: #f30!important;
}

.dropdown-menu {
    background-color: #1bbc9b!important;

}

tr {
    color: #f30!important;
}

.btn-danger {
    border-color: #1bbc9b!important;
}

.btn-danger:hover {
    border-color: #1bbc9b!important;
}

.box-body {
    color: #f30!important;
}

.content-header > h1 > small {
    color: #3c8dbc!important;
    font-weight: 600!important;
}

td {
    text-align: center!important;
}

.content-header > .breadcrumb {
    background: #1bbc9b none repeat scroll 0 0!important;
}


/*new css*/
.row {
    margin-left: 0px!important;
    margin-right: 0px!important;
    padding-top: 20px!important;
}

.btn-blue {
    border-color: #1bbc9b!important;
    color: white!important;
}

.box-footer {
    margin-left: 16px!important;
    margin-right: 16px!important;
}

legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #f30!important;
    color: #f30!important;
}

.content-header > .breadcrumb > li > a {
    color: #fff!important;
}


.content-header > .breadcrumb > li + li::before {
    color: #fff!important;
}