.menu-section {
    width: 100%;
    background-image: url('../img/ent.png');
    background-color: #EEEEEE;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
