#{extends 'main.html' /}
#{set title: 'reinitialisation' /}
<div class="spa-shell-main">
        
     <div class="navbar navbar-inverse set-radius-zero" style ="background-color : #FFF">
        <div class="container">
          <div class="container">
	            <div class="row">
	                <div class="col-xs-2 col-sm-2 col-md-2">
	                	<img src="@{'public/img/logo.png'}" />
	                </div>

	                <div class="col-xs-10 col-sm-10 col-md-10">
	                   <h1 style ="color : #F30">  OFFICE NATIONALE DE LA PROTECTION CIVILE  </h3>
	                   <h3 style ="color : #090">  Application de Gestion des Ressources Humaines  </h5>
	                </div>
               </div>
          </div>
        </div>
     </div>
     <div class="box1">
     <h3 style ="color : #fff; text-align : justify"> Reinitialiser votre mot de passe</h3>
     <label style ="color : #FFF; text-align : justify">Vous avez oublie votre Mot de Passe ?<br/>Nous vous recommandons vivement de creer un mot de passe que vous n'utilisez pas sur d'autres sites.<br/></label>
     <label style ="color : #FFF; text-align : justify">Remarque: Une fois modifie, vous n'utiliserez plus votre ancien mot de passe !</label>
     </div>
     <div class="box2">
     <label style ="color : #2a6496; text-align : justify">Entrer votre code</label>
	  <input type="text" name="code" placeholder=""/>
      <label style ="color : #2a6496; text-align : justify">Nouveau Mot de passe</label>
	  <input type="text" name="mdp" placeholder=""/>
	  <label style ="color : #2a6496; text-align : justify">Confirmer le Nouveau Mot de passe</label>
	  <input type="text" name="mdp" placeholder=""/>
	  <div style ="text-align : left">
         #{form.submit value : 'Reinitialiser le mot de passe', icon : 'check', class : 'spa-form-send' /}
     </div>
     </div>
</div>


