
<ol class="breadcrumb">
    <li><a href="@{list()}"><i class="fa fa-dashboard"></i> Liste</a></li>
    #{if _parameter}
    <li><a href="@{edit(_parameter)}">Nouveau</a></li>
    #{/if}
    #{else}
    <li><a href="@{edit()}"> Nouveau</a></li>
    #{/else}
  </ol>