
#{extends 'admin.html' /}
	<head>

		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
	  <link rel="stylesheet" href="@{'public/stylesheets/jquery-ui.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/styles-responsive.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/plugins.css'}">
		<link rel="stylesheet" href="@{'public/wizard/css/themes/theme-default.css'}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
			<link rel="stylesheet" href="@{'public/wizard/css/print.css'}" type="text/css" media="print"/>
		<!-- end: CORE CSS -->
		<link rel="shortcut icon" href="favicon.ico" />
    <style type="text/css">

.error
{
color:red;
font-family:verdana, Helvetica;
}
    </style>
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body>
		<!-- start: SLIDING BAR (SB) -->
	
		<!-- end: SLIDING BAR -->
		<div class="main-wrapper">
			 <div class="box">
           		 <div class="box-header with-border">
              <h3 class="box-title">Enregistrement d'agent</h3> -  
                <a href="@{list()}">Liste des agent</a>
       
            </div>
            </div>



	<!-- end: BREADCRUMB -->
	<!-- start: PAGE CONTENT -->
	<div class="row">
		<div class="col-md-12">
							
#{form @saveAgent(), role :'form', id :"form", enctype:'multipart/form-data'}
    #{if agent}
        <input type="hidden" name="agent.id" value="${agent?.id}" />
    #{/if}
	
<div class="panel panel-white">
    <div class="panel-body">
		<div id="wizard" class="swMain">
			<ul>
				<li>
					<a href="#step-1">
						<div class="stepNumber">
							1
				        </div>
						<span class="stepDesc"> Informations g&eacute;n&eacute;rales</span>
						<br />
					</a>
				</li>
				<li>
					<a href="#step-2">
						<div class="stepNumber">
							2
						</div>
						<span class="stepDesc"> Informations professionnelles</span>
						<br />
					</a>
			 </li>
			 <li>
				 <a href="#step-3">
					<div class="stepNumber">
					 3
				    </div>
					<span class="stepDesc"> Informations sur le contrat</span>
					<br />
				</a>
			    </li>

		</ul>
		<div class="progress progress-xs transparent-black no-radius active">
			<div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar partition-green step-bar">
				 <span class="sr-only"> 0% Complete (success)</span>
			</div>
	   </div>

             <!-- en cas d'erreur -->
                    
                    <div class="row" >
                         #{if flash.error}
                      <div class="alert alert-danger" role="alert" id="erreur">
                            ${flash.error}
                      </div>
                       #{/if}
                    </div>
                         
               <!-- fin -->

       <div id="step-1">
       <div class="row">
        <div class="col-lg-12">
           <div class="col-lg-4">
              <div class="form-group">
                  <label class="control-label col-sm-2" for="nom"></label>
                    <div class="col-sm-10">
                        #{field 'agent.num_note_svce'}
                                   #{form.input field : field, value : agent?.num_note_svce, required : true,  label : 'Numéro de note de service *'/}
                        #{/field}
                  </div>
                </div>
          </div>
            <div class="col-lg-4">
            <div class="form-group">
               <label class="control-label col-sm-2" for="nom"></label>
               <div class="col-sm-10">
                #{field 'agent.mecano'}
                     #{form.input field : field, value : agent?.mecano, required : false,  label : 'Mecano'/}
                  #{/field}
              </div>
              </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
                      <label class="control-label col-sm-2"></label>
              <div class="col-sm-10">
                #{field 'agent.email'}
                       #{form.email field : field, value : agent?.email, required : false,  label : 'Email'/}
                  #{/field}
               </div>
               </div>
               </div>
         </div>
  </div>
		    <div class="row">
				<div class="col-lg-12">
					 <div class="col-lg-4">
						  <div class="form-group">
							    <label class="control-label col-sm-2" for="nom"></label>
						        <div class="col-sm-10">
										    #{field 'agent.matricule'}
							                     #{form.input field : field, value : agent?.matricule, required : false,  label : 'Matricule'/}
							                #{/field}
							    </div>
					      </div>
					</div>
				    <div class="col-lg-4">
						<div class="form-group">
							 <label class="control-label col-sm-2" for="nom"></label>
							 <div class="col-sm-10">
								#{field 'agent.nom'}
							       #{form.input field : field, value : agent?.nom, required : true,  label : 'Nom *'/}
							    #{/field}
							</div>
					    </div>
				  </div>
				  <div class="col-lg-4">
					  <div class="form-group">
			                <label class="control-label col-sm-2"></label>
							<div class="col-sm-10">
								#{field 'agent.prenom'}
							         #{form.input field : field, value : agent?.prenom, required : true,  label : 'Pr&eacute;nom *'/}
							    #{/field}
						   </div>
			         </div>
               </div>
         </div>
	</div>
    <div class="row">
     <div class="col-lg-12">
       <div class="col-lg-4">
        <div class="form-group">
            <label class="control-label col-sm-2" ></label>
             <div class="col-sm-10">
               #{field 'agent.numCni'}
                     #{form.input field : field, value : agent?.numCni, required : true,  label : 'Numero CNI *'/}
                    #{/field}
             </div>
       </div>
      </div>
      <div class="col-lg-4">
       <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Etablie le:</label>
                 <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="eDate" value="${agent?.delivre_le?.format("dd/MM/yyyy")}">
             </div>
        
              </div>
             </div>
       </div>
     <div class="col-lg-4">
     <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
             <div class="form-group">
             <label for="pwd">Valide jusqu'au:</label>
                 <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="vDate" value="${agent?.expire_le?.format("dd/MM/yyyy")}">
             </div>
        
              </div>
             </div>
       
       </div>
  </div>
   </div>
    <div class="row">
   <div class="col-lg-12">
            <div class="col-lg-4">
            <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
             <div class="col-sm-10">
               <div class="form-group">
             <label for="pwd">Né(e) le *:</label>
                 <input data-format="dd/MM/yyyy" type="text" class="form-control datepickers" name="nDate" value="${agent?.date_naissance?.format("dd/MM/yyyy")}">
             </div>
              </div>
             </div>
           
        </div>
        <div class="col-lg-4">
        <div class="form-group">
            <label class="control-label col-sm-2" for="lieu_naissance"></label>
              <div class="col-sm-10">
                #{field 'agent.lieu_naissance'}
                      #{form.input field : field, value : agent?.lieu_naissance, required : true,  label : 'A'/}
                     #{/field}
              </div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="form-group">
            <label class="control-label col-sm-2" for="nom"></label>
              <div class="col-sm-10">
              #{field 'agent.situation.id'}
                    #{form.select field : field, class:situation, items : allsituations, valueProperty : 'id', labelProperty : 'libelle_situation' , required : false, value : agent?.situation?.id ? agent?.situation?.id: 0, label : 'Situation Matrimoniale' /}
              #{/field}
              </div>
        </div>
        </div>
   </div>
   </div>
 <div class="row">
         <div class="col-lg-12">
           <div class="col-lg-4">
        <div class="form-group">
        <label class="control-label col-sm-2" for="prenom"></label>
       <label class="control-label col-sm-2" for="prenom">Sexe* </label>
       <br/>
          <div class="col-sm-4">
            <label class="radio-inline">
            <input type="radio" id="masculin" class="grey" value="Masculin" name="sexe" #{if sexe=='Masculin'}checked="checked"#{/if} >
                  Masculin
            </label>
          </div>
         <div class="col-sm-4">
            <label class="radio-inline">
             <input type="radio"  id= "feminin" class="grey" value="Feminin" name="sexe" #{if sexe=='Feminin'}checked="checked"#{/if} >
                 Feminin
            </label >
          </div>
    </div>
    </div>
           <div class="col-lg-4">
              <div class="form-group">
                   <label class="control-label col-sm-2" for="nom"></label>
                   <div class="col-sm-10">
                   <div class="form-group">
                   <label for="nomJeuneFille">Nom de jeune fille</label>
                       <input type="text"  id ="nomfille" name="agent.nomJeuneFille" class="form-control" style="text-transform:uppercase"> 
                   </div>      
             </div>
         </div>
         </div>
          <div class="col-lg-4">
              <div class="form-group">
                   <label class="control-label col-sm-2" for="nom"></label>
                   <div class="col-sm-10">
                   <div class="form-group">
                   <label for="nombreEnf">Nombre d'enfant</label>
                       <input type="text" name="agent.nombreEnf" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="${agent?.nombreEnf}"> 
                   </div>      
             </div>
         </div>
         </div>
    </div>
    </div>
     <div class="row">
	<div class="col-lg-12">
     <div class="col-lg-6">
         <div class="form-group">
             <label class="control-label col-sm-2" ></label>
              <div class="col-sm-10">
                #{field 'agent.nomPere'}
                      #{form.input field : field, value : agent?.nomPere, required : true,  label : 'Nom  et prénoms du pere'/}
                     #{/field}
              </div>
        </div>
        </div>
        <div class="col-lg-6">
        <div class="form-group">
             <label class="control-label col-sm-2" for="nom"></label>
              <div class="col-sm-10">
                #{field 'agent.nomMere'}
                      #{form.input field : field, value : agent?.nomMere, required : true,  label : 'Nom et prénoms de la mere'/}
                     #{/field}
              </div>
        </div>
        </div>
        
   </div>
   </div>
	<div class="form-group">
		<div class="col-sm-2 col-sm-offset-8">
			<button class="btn btn-blue next-step btn-block">
				Suivant <i class="fa fa-arrow-circle-right"></i>
			</button>
		</div>
	</div>
</div>

<div id="step-2">
	<h2 class="StepTitle">Informations professionnelles</h2>
										
<div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-2" ></label>
               <div class="col-sm-10">
                  #{field 'agent.classe.id'}
                    #{form.select field : field, items : allclasses, valueProperty : 'id', labelProperty : 'libelle_classe' , required : false, value : agent?.classe?.id ? agent?.classe?.id : 0, label : 'Classe' /}
                  #{/field}
               </div>
              
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
               <label class="control-label col-sm-2" ></label>
               <div class="col-sm-10">
                  #{field 'agent.grade.id'}
                     #{form.select field : field, items : allgrades, valueProperty : 'id', labelProperty : 'libelle_grade' , required : false, value : agent?.grade?.id ? agent?.grade?.id : 0, label : 'Grade' /}
                  #{/field}
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
               <label class="control-label col-sm-2" ></label>
               <div class="col-sm-10">
                  #{field 'agent.type_agent.id'}
                   #{form.select field : field, items : allType_agent, valueProperty : 'id', labelProperty : 'libelle_type_agent' , required : false, value : agent?.type_agent?.id ? agent?.type_agent?.id : 0, label : 'Type agent' /}
                  #{/field}
               </div>
         </div>
         </div>
    </div>
    </div>
										
	<div class="row">
    <div class="col-lg-12">
         <div class="col-lg-4">
          <div class="form-group">
              <label class="control-label col-sm-2" ></label>
               <div class="col-sm-10">
                  #{field 'agent.mode_recrutement.id'}
                    #{form.select field : field, items : allmoderecutements, valueProperty : 'id', labelProperty : 'libelle_mode_recrutement' , required : false, value : agent?.mode_recrutement?.id ? agent.mode_recrutement?.id : 0, label : 'Mode de recrutement' /}
                  #{/field}
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
               <label class="control-label col-sm-2" ></label>
               <div class="col-sm-10">
                   #{field 'agent.echelon.id'}
                   #{form.select field : field, items : allechelons, valueProperty : 'id', labelProperty : 'libelle_echelon' , required : false, value : agent?.echelon?.id ? agent?.echelon?.id : 0, label : 'Echelon' /}
                  #{/field}
               </div>
         </div>
         </div>
         <div class="col-lg-4">
         <div class="form-group">
               <label class="control-label col-sm-2" ></label>
               <div class="col-sm-10">
                  #{field 'agent.type_recrutement.id'}
                   #{form.select field : field, items : allrecutements , valueProperty : 'id', labelProperty : 'libelle_type_recrutement' , required : false, value : agent?.type_recrutement?.id ? agent?.type_recrutement?.id : 0, label : 'Type recrutement' /}
                  #{/field}
               </div>
         </div>
         </div>
    </div>
    </div>
    <div class="row">
                <div class="col-lg-12">
                     <div class="col-lg-4">
                          <div class="form-group">
                                <label class="control-label col-sm-2" for="nom"></label>
                                <div class="col-sm-10">
                                            #{field 'agent.lieuHbtion'}
                                                 #{form.input field : field, value : agent?.lieuHbtion, required : true,  label : 'Lieu d\'habitation *'/}
                                            #{/field}
                                </div>
                          </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                             <label class="control-label col-sm-2" for="nom"></label>
                             <div class="col-sm-10">
                                #{field 'agent.adresse'}
                                   #{form.input field : field, value : agent?.adresse, required : true,  label : 'Adresse *'/}
                                #{/field}
                            </div>
                        </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="form-group">
                            <label class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                             #{field 'agent.contact'}
                                   #{form.input field : field, value : agent?.contact, required : true,  label : 'T&eacute;l&eacute;phone *'/}
                                #{/field}
                           </div>
                     </div>
               </div>
         </div>
    </div>

   <div class="row">
				<div class="col-lg-12">
				<div class="col-lg-4">
						<div class="form-group">
							 <label class="control-label col-sm-2" for="nom"></label>
							 <div class="col-sm-10">
						      #{field 'agent.emplois.id'}
                                      #{form.select field : field, items : allemplois, valueProperty : 'id', labelProperty : 'libelle_emploi' , required : false, value : agent?.emplois?.id ? agent?.emplois?.id : 0, label : 'Emploi' /}
                              #{/field}
							</div>
					    </div>
				  </div>
	 <div class="col-lg-4">
		<div class="form-group">
        <label class="control-label col-sm-2" for="prenom"></label>
	   <label class="control-label col-sm-2" for="prenom">Fonctionaire*</label>
       <br/>
          <div class="col-sm-4">
            <label class="radio-inline">
            <input type="radio" class="grey" value="Oui" name="fonctionaire" #{if fonctionaire=='Oui'}checked="checked"#{/if} >
                  Oui
            </label>
          </div>
         <div class="col-sm-4">
            <label class="radio-inline">
             <input type="radio" class="grey" value="Non" name="fonctionaire" #{if fonctionaire=='Non'}checked="checked"#{/if} >
                 Non
            </label >
          </div>
	</div>
	</div>		    
	  <div class="col-lg-4">
		  <div class="form-group">
                <label class="control-label col-sm-2"></label>
				<div class="col-sm-10">
					#{field 'agent.moncv'}
				         #{form.file field : field, value : agent?.moncv, required : false,  label : 'CV' /}
				    #{/field}
			   </div> 
         </div>
            </div>
      </div>
	</div><br>
	<div class="form-group">
		<div class="col-sm-2 col-sm-offset-3">
			<button class="btn btn-light-grey back-step btn-block">
				<i class="fa fa-circle-arrow-left"></i> Retour
			</button>
		</div>
		<div class="col-sm-2 col-sm-offset-3">
			<button class="btn btn-blue next-step btn-block">
				Suivant <i class="fa fa-arrow-circle-right"></i>
			</button>
	   </div>
  </div>	
  </div>									
 <div id="step-3">
	<h2 class="StepTitle">Informations sur le contrat</h2>
  <div class="row">
       <div class="col-lg-12">
          <div class="col-lg-6">
             <div class="form-group">
             </div>
          </div>

      </div>
  </div>
	<div class="row">
       <div class="col-lg-12">
         <div class="col-lg-4">
             <div class="form-group">
                <label class="control-label col-sm-2" ></label>
                <div class="col-sm-10">
                  #{field 'agent.contrat.id'}
                          #{form.select field : field, items : allContrats, valueProperty : 'id', labelProperty : 'libelle_contrat' , required : false, value : agent?.contrat?.id ? agent?.contrat?.id : 0, label : 'Contrat' /}
                  #{/field}
                </div>
           </div>
         </div>
         <div class="col-lg-4">
            <div class="form-group">
                <label class="control-label col-sm-2" ></label>
                <div class="col-sm-10">
                    <div class="form-group">
                        <label for="date_debut">Date de debut</label>
                        <input type="text"  id="ddcont" class="form-control datepickers" name="dDate" value="${agentcontrat?.date_debut}">
                    </div>
                </div>
            </div>
            <label class="control-label col-sm-2" for="nom"></label>
         </div>
         <div class="col-lg-4">
            <div class="form-group">
                 <label class="control-label col-sm-2" ></label>
                 <div class="col-sm-10">
                    <div class="form-group">
                        <label for="date_fin">Date de fin</label>
                        <input type="text" id = "dfcont"class="form-control datepickers" name="fDate" value="${agentcontrat?.date_fin}">
                    </div>
                </div>
            </div>
         </div>
    </div>
    </div>
    <div class="row">
				<div class="col-lg-12">
		
						#{field 'agentcontrat.theme'}
				              #{form.textarea field : field, value : agentcontrat?.theme, required : false,  label : 'Theme'/}
				        #{/field}
		    
         </div>
	</div>
	<div class="form-group">
		<div class="col-sm-2 col-sm-offset-3">
			<button class="btn btn-light-grey back-step btn-block">
				<i class="fa fa-circle-arrow-left"></i> Retour
			</button>
		</div>
		<div class="col-sm-2 col-sm-offset-3">
		#{form.saveButton /}
			
		</div>
	</div>
  </div>
</div>
</div>
#{/form}
</div>
</div>
	<!-- end: FORM WIZARD PANEL -->
</div>
						
				
			<!-- end: MAIN CONTAINER -->
			<!-- start: FOOTER -->
			
			<!-- end: FOOTER -->
			<!-- start: SUBVIEW SAMPLE CONTENTS -->
			<!-- *** NEW NOTE *** -->
			
			<!-- *** READ NOTE *** -->
			<div id="readNote">
			  <div class="e-slider owl-carousel owl-theme">
				 <div class="item"></div>
			  </div>
			</div>
			
		
		</div>
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="@{'public/wizard/plugins/respond.min.js'}"></script>
		<script src="@{'public/wizard/plugins/excanvas.min.js'}"></script>
		<script type="text/javascript" src="@{'public/wizard/plugins/jQuery/jquery-1.11.1.min.js'}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="@{'public/wizard/plugins/jQuery/jquery-2.1.1.min.js'}"></script>
		<!--<![endif]-->
		<script src="@{'public/wizard/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js'}"></script>
		<script src="@{'public/wizard/plugins/bootstrap/js/bootstrap.min.js'}"></script>
	
		<!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<script src="@{'public/wizard/plugins/owl-carousel/owl-carousel/owl.carousel.js'}"></script>
		<script src="@{'public/wizard/plugins/jquery-mockjax/jquery.mockjax.js'}"></script>

		<script src="@{'public/wizard/plugins/jquery-validation/dist/jquery.validate.min.js'}"></script>
	<script src="@{'public/javascripts/jquery.ui.datepicker.js'}"></script>	
		<script src="@{'public/wizard/js/subview.js'}"></script>
		<script src="@{'public/wizard/js/subview-examples.js'}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="@{'public/wizard/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js'}"></script>
		<script src="@{'public/wizard/js/form-wizard.js'}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: CORE JAVASCRIPTS  -->
		<script src="@{'public/wizard/js/main.js'}"></script>



		<!-- end: CORE JAVASCRIPTS  -->
			   <script src="@{'public/dist/js/app.min.js'}"></script>
		<script>
			jQuery(document).ready(function() {
				Main.init();
				SVExamples.init();
				FormWizard.init();
			});
		</script>
#{set 'moreScripts'}

<script>
	$(function() {
		$( ".datepickers" ).datepicker( $.datepicker.regional[ "fr" ] );
		
	});
	</script>
<script>
jQuery(document).ready(function() {
    var now = new Date();
    Main.init();            
    FormWizard.init();
     $(".form-control").change(function(){

var veuf =$.trim("Veuf");
var celiba = $.trim("Celibataire");
var contenu =$.trim( $("#agent_situation_id option:selected").text());
if(contenu == veuf || contenu == celiba)
      {
         $("#nomfille").attr('disabled',true);
        console.log("oui");
      }
     else
      {
       $("#nomfille").attr('disabled',false);
      }
    
    });
     $("#fonctionaire").click(function(){
    	 var fonct_init =$.trim("Non");
    	 var fonct =$.trim($(this).val());
    	 if (fonct_init == fonct){
    		 
    		 $("#agent_contrat_id").attr('disabled',true);
             $("#ddcont").attr('disabled',true);
             $("#dfcont").attr('disabled',true);
    	 }
     });
     $("input[type='radio'], input[type='checkbox']").on('ifChecked', function(event) {
         
    	 var sexe = $.trim("Masculin");
         var fonct =$.trim("Oui");
         var nfonct = $.trim("Non");
         var res =$.trim($(this).val());
         console.log(res);
         if (res == sexe ){
           $("#nomfille").attr('disabled',true);
               console.log("oui");
               alert(res);

         }
          if (res == fonct){
           $("#agent_contrat_id").attr('disabled',true);
           $("#ddcont").attr('disabled',true);
           $("#dfcont").attr('disabled',true);
           alert(res);
           $("#agentcontrat_theme").attr('disabled',true);

         }  if(res == nfonct){
           $("#agent_contrat_id").attr('disabled',false);
           $("#ddcont").attr('disabled',false);
           $("#dfcont").attr('disabled',false);
           $("#agentcontrat_theme").attr('disabled',false);
           alert(res);
         }
       });
});
</script>
<script type="text/javascript">
  $(function()
  {
    $('#form').validate(
      {
        rules:
        {
          fonctionaire:{ required:true }
        },
        messages:
        {
          fonctionaire:
          {
          required:"Veuillez signifier si vous etes fonctionnaire ou non<br/>"
          }
        },
        errorPlacement: function(error, element) 
        {
            if ( element.is(":radio") ) 
            {
                error.appendTo( element.parents('.container') );
            }
            else 
            { // This is the default behavior 
                error.insertAfter( element );
            }
         }
      });
    
  });
</script>
<script >
  setTimeout(function(){ 
                $( '#erreur' ).html(''); 
                $( '#erreur' ).hide();
            }, 10000);
</script>

#{/set}
	</body>

