<div class="dropdown">
		
		<button class="btn dropdown-toggle btn-transparent-grey" data-toggle="dropdown">
			<i class="fa fa-cog"></i>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-light pull-right" role="menu">
			<li>
				<a class="panel-collapse collapses" href="@{view(_id)}" title="&{'object.view'}"><i class="fa fa-share"></i> <span>Consulter</span> </a>
			</li>
			<li>
				<a href="@{edit(_id)}" class="panel-collapse collapses" title="&{'object.edit'}">
				    <i class="fa fa-edit"></i> Modifier
				</a>
			</li>

			<li>
				<a href="@{_Piece_agents.edits(_id)}" class="panel-collapse collapses" title="&{'object.edit'}">
				    <i class="fa fa-edit"></i> Joindre des pièces
				</a>
			</li>
			
		</ul>
</div>


