 #{extends 'index.html' /}
 <div class="wrapper">
 <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="@{'public/dist/img/user2-160x160.jpg'}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Amon Serge Kevin</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Connecté</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">Menu d'administration</li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Gestion des agents</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
				<a href="@{Agents.enregistrement()}">
					<i class="fa fa-circle-o"></i><span class="title"> Enregistrement d'un agent  </span>
				</a>
			</li>
				<li>
					<a href="@{_Agent_status.recherche_agent_status()}">
					<i class="fa fa-circle-o"></i> <span class="title"> Départ Agent </span>
					 </a>
				</li>
				<li>
					<a href="@{_Agent_decorations.recherche_agent_deco()}">
					<i class="fa fa-circle-o"></i> <span class="title"> Décoration Agent </span> </a>
				</li>
				<li>
					<a href="@{_Agent_postes.recherche()}">
					<i class="fa fa-circle-o"></i> <span class="title"> Promotion/Mutation Agent </span></a>
				</li>
				<li>
					<a href="@{_Agent_sanctions.recherche_agent_sanction()}"><i class="fa fa-circle-o"></i> <span class="title"> Sanction Agent </span></a>
				</li>							
           </ul>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-files-o"></i>
                <span>Gestion des missions</span>
                 <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
					<a href="@{Missions.edit()}"><i class="fa fa-circle-o"></i> <span class="title"> Missions </span><i class="icon-arrow"></i> </a>
				</li>
				<li>
					<a href="@{Ressources.edit()}"><i class="fa fa-circle-o"></i> <span class="title"> Ressources </span><i class="icon-arrow"></i> </a>
				</li>
				<li>
					<a href="@{_Agent_missions.listmission()}"><i class="fa fa-circle-o"></i> <span class="title"> Planifiaction des missions </span><i class="icon-arrow"></i> </a>
				</li>
				<li>
					<a href="@{_Agent_missions.liste()}"><i class="fa fa-circle-o"></i> <span class="title"> Retour de mission </span><i class="icon-arrow"></i> </a>
				</li>	
              </ul>
            </li>
           
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Gestions des congés</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
             	<li>
					<a href="@{_Agent_conges.planningConges()}"><i class="fa fa-circle-o"></i> <span class="title"> Planification des congés </span><i class="icon-arrow"></i> </a>
				</li>	
              </ul>
            </li>
             <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Formations continues</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
              <li>
         <a href="@{Formateurs.edit()}"><i class="fa fa-circle-o"></i> <span class="title"> Nouveau formateur </span><i class="icon-arrow"></i> </a>
        </li> 
         <li>
          <a href="@{Formateurs.list()}"><i class="fa fa-circle-o"></i> <span class="title"> Nouvelle formation </span><i class="icon-arrow"></i> </a>
        </li> 
              </ul>
            </li>
              <li class="treeview">
              <a href="@{Application.param()}">
                <i class="fa fa-files-o"></i>
                <span>Gestion des paramètres</span>
                 <i class="fa fa-angle-left pull-right"></i>
              </a>
             
            </li>
       <li class="treeview">
              <a href="@{Comptes.recherche_agent_cpte()}">
                <i class="fa fa-files-o"></i>
                <span>Gestion des comptes</span>
                 <i class="fa fa-angle-left pull-right"></i>
              </a>
             
            </li>
      
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
 	

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
           #{doLayout /}
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0.0
        </div>
        <strong>Ebenyx Technologies &copy; 2014-2015 .</strong> Tous droits reservés.
      </footer>

        </div>